body {
    color: white;
}

.item {
    border: 1px solid var(--background-modifier-border);
    padding: 10px;
}

p {
    margin: 0;
}

.center_flex {
    display: flex;
    justify-content: center;
}

.error_msg {
    color: orange;
    margin-bottom: .5rem;
}

.modal_disabled_submit_btn {
    background-color: lightgrey !important;
    color: gray !important;
}